@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#network {
    height: 100vh;
}

#sidebar {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 290px; /* Adjust the width as needed */
    background-color: #EEE4D3;
    border: 1px solid #EEE4D3;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}